# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.env*/
.venv/

# ===============================
# Python cache / compiled files
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Python packaging
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Logs & local files
# ===============================
*.log
*.sqlite3

# ===============================
# OS-specific
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.swp
